<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>About My Account</title>

	<link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="../static/bootstrap/css/bootstrap-theme.min.css">
	<script src="../static/bootstrap/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	<link rel="stylesheet" type="text/css" href="../static/css/styles.css">
	<style type="text/css">
	  #us{
		float: right;
		margin-right: 20px;
		margin-top: 10px;
	  }
	  #us h3{
		margin: 0 0 0 0;
	  }
	  table tr{
		padding-top: 10px;

	  }
	  table tr td{
		padding-left: 20px;
		font-size: 22px;

	  }
	  table tr td h4{
		font-weight: bold;
	  }
	  #signout{
		width: 100px;
		height: 20px;
	  }
	  #signout a{
		padding: 2px 0px 2px 20px;
	  }
	  .edit_pro{
	  	width: 10%;
	  	float: right;
	  }
	  .row{
	  	background-color: white;
	  }
	</style>
  </head>
<body>
<div id="us">
<ul class="nav nav-pills">
  <li><h3>{{session['current_user']}} &nbsp;</h3></li>
  <li role="presentation" class="active" id="signout"><a href="/logout">Sign Out</a></li>
 </ul> 
</div>
<div>
<ul class="nav nav-tabs">
  <li role="presentation"><a href="/rooms">Rooms</a></li>
	<li role="presentation"><a href="/available">Check Availability</a></li>
    <li role="presentation"><a href="/reserve">Reservation</a></li>
  <li role="presentation" class="active"><a href="">My Account</a></li>
</ul>
</div>

<div class="row">
	<div class="col-md-8">
  		<table align="right">
			<tr>
	  			<td> <h4>First Name</h4></td>
	  			<td>{{user.firstname}}</td>
			</tr>
			<tr>
	  			<td> <h4>Last Name</h4></td>
	  			<td>{{user.lastname}}</td>
			</tr>
			<tr>
	  			<td><h4>User Name</h4></td>
	  			<td>{{user.username}}</td>
			</tr>
			<tr>
	  			<td><h4>Email</h4></td>
	  			<td>{{user.email}}</td>
			</tr>
			<tr>
	  			<td><h4>Password</h4></td>
	  			<td>**********</td>
			</tr>
  		</table>
	</div>
</div>

<div class="ps">
{% for i in reservations %}
<div class="panel panel-info">
  <div class="panel-heading">
    <div><h3 class="panel-title">Reservation Number: {{i.rid}}</h3></div>
      <div id="icon">
      <a class="glyphicon glyphicon-pencil" href="/update/{{ i.rid }}"></a>&nbsp &nbsp
      <a class="glyphicon glyphicon-trash" id="del" href="/delete/{{ i.rid }}"></a>

    </div>
  </div>
  <div class="panel-body">
      {% for j in booked %}
          {% if i.rid == j.brid %}
              <p>Room number: {{j.room_id}}</p>
      <p>Checkin-Date: {{i.checkin_date}}</p>
      <p>Checkout-Date: {{i.checkout_date}}</p>
              <p>Number of Guests: {{i.num_guests}}</p>
  </div>
 </div>
{% endif%}
{% endfor %}
{% endfor %}
</div>

	
</body>
</html>